<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.css" />
    <title>Burger Resources</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <main><%- include(viewName, data); %></main>
  </body>
</html>
