<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/5787/5787016.png"
    />
    <title>Burger Resources</title>
  </head>
  <body>
    <nav>
      <img
        src="https://cdn-icons-png.flaticon.com/512/5787/5787016.png"
        alt=""
        width="30"
        height="30"
      />
      <a href="/">Home</a>
    </nav>
    <main><%- include(viewName, data); %></main>
  </body>
</html>
